<div>
  <p>SLIDE DU DESSUS</p>
</div>
<div class="container mosaic">
  <ul>
    <li class="block one">
      <div style="background: url('https://unsplash.it/1080/720?image=100');background-size: cover">
        <div class="content">
          <h1>BLOC 1</h1>
        </div>
        <div class="mouse-hover"></div>
      </div>
    </li>
    <li class="block two">
      <div style="background: url('https://unsplash.it/1080/720?image=200');background-size: cover">
        <div class="content">
          <h1>BLOC 2</h1>
        </div>
        <div class="mouse-hover"></div>
      </div>
    </li>
    <li class="block three">
      <div style="background: url('https://unsplash.it/1080/720?image=301');background-size: cover">
        <div class="content">
          <h1>BLOC 3</h1>
        </div>
        <div class="mouse-hover"></div>
      </div>
    </li>
    <li class="block four">
      <div style="background: url('https://unsplash.it/1080/720?image=400');background-size: cover">
        <div class="content">
          <h1>BLOC 4</h1>
        </div>
        <div class="mouse-hover"></div>
      </div>
    </li>
    <li class="block five">
      <div style="background: url('https://unsplash.it/1080/720?image=500');background-size: cover">
        <div class="content">
          <h1>BLOC 5</h1>
        </div>
        <div class="mouse-hover"></div>
      </div>
    </li>
    <li class="block six">
      <div style="background: url('https://unsplash.it/1080/720?image=600');background-size: cover">
        <div class="content">
          <h1>BLOC 6</h1>
        </div>
        <div class="mouse-hover"></div>
      </div>
    </li>
    <li class="block seven">
      <div style="background: url('https://unsplash.it/1080/720?image=700');background-size: cover">
        <div class="content">
          <h1>BLOC 7</h1>
        </div>
        <div class="mouse-hover"></div>
      </div>
    </li>
    <li class="block eight">
      <div style="background: url('https://unsplash.it/1080/720?image=800');background-size: cover">
        <div class="content">
          <h1>BLOC 8</h1>
        </div>
        <div class="mouse-hover"></div>
      </div>
    </li>
    <li class="block nine">
      <div style="background: url('https://unsplash.it/1080/720?image=900');background-size: cover">
        <div class="content">
          <h1>BLOC 9</h1>
        </div>
        <div class="mouse-hover"></div>
      </div>
    </li>
  </ul>
  <div class="block-fullscreen"></div>
</div>
